<div>
    <div class="navSection">
        <!------------SideBar------------> 
          <section class="sideBar"  [ngClass]="{toggle:closed}">
             <!--------------------Side header---------------->
             <div id="sideBar-Header">
                 <div class="logo" (click)="toggleSideBar()">
                    <a class="link-dash" routerLink="dashboard">
                     <img class="sideBar-logo" src="../../assets/logo.png" alt="logo"> 
                     <span class="logo-name" *ngIf="!closed">Chem School</span>
                 </a>
                 </div>
                 <div class="user">
                     <div class="user-picture">
                        <a routerLink="profile"> <img class="user-profile" src="../../assets/J.png" alt="user"></a>
                     </div>
                     <div class="user-info" *ngIf="!closed">
                         <span>Welcome,</span>
                         <h4 class="user-name">
                             Jennie Ruby Jane
                         </h4>
                     </div>
                 </div>
             </div>
             <!-----------------Side main------------------->
             <div class="sideBar-main">
                     <ul class="nav">
                     <li class="nav-container" *ngFor=" let detail of navDetails">
                         <a class="nav-link" [routerLink]="[detail.link]">
                             <i class="nav-icon" [class]="detail.icon"></i>
                             <span class="nav-name" *ngIf="!closed">{{detail.name}}</span>
                         </a>
                     </li>
                 </ul>
             </div>
          </section>
        </div>
        <div class="container"  [ngClass]="{toggle:closed}">
            <section >
                <form #formCourse="ngForm" class="form_teacher" (ngSubmit)="addCourseTS(formCourse.value)">
                <div class="information">
                        <h2 class="form_legend">Add a Course</h2>
                        <div class="details">
                            <div class="details_Container">
                                <label class="f_name" for="f_name">
                                    <input type="text" id="f_name" class="info name" placeholder=" " name="Name" #nameTeacher="ngModel" ngModel required  pattern="[a-zA-Z\s]+" >
                                    <span  class="label_input">Course Name: </span>
                                 </label>
                                 <div  style="position:relative;top:5px" [hidden]="nameTeacher.valid ||nameTeacher.pristine" class="alert alert-danger" role="alert">
                                    <div *ngIf="nameTeacher.errors?.['pattern']"> Name must be a characters</div>
                                    <div *ngIf="nameTeacher.errors?.['required']"> Name is required </div>
                                    
                                  </div>
                            </div>
                            <div class="details_Container">
                                <label class="f_name" for="Reference">
                                    <input type="text" id="Reference" class="info name" placeholder=" " name="Reference" ngModel #ReferenceTeacher="ngModel" required pattern="[a-zA-Z\s]+">
                                    <span class="label_input">Reference: </span>
                                </label>
                                <div  style="position:relative;top:5px" [hidden]="ReferenceTeacher.valid ||ReferenceTeacher.pristine" class="alert alert-danger" role="alert">
                                    <div *ngIf="ReferenceTeacher.errors?.['pattern']"> Reference must be a characters</div>
                                    <div *ngIf="ReferenceTeacher.errors?.['required']"> Reference is required </div>
                                    
                                  </div>
                            </div> 
                        </div>
                        <div class="contain">
                            <select class="form-select info" aria-label="role select role"  name="Teacher" id="teacher" ngModel>
                                <option selected>Select a teacher</option>
                                <option *ngFor="let name of Names" value="{{name}}">{{name}}</option>
                            </select>
                        </div>
                        
                        <div class="details">
                            <div class="details_Container">
                                <label class="f_name" for="Duration">
                                    <input type="number" id="Duration" class="info Duration" placeholder=" " name="Duration" #DurationTeacher="ngModel" ngModel required min="23">
                                    <span class="label_input">Duration (hours) : </span>
                                </label>
                                <div style="position:relative;top:5px" [hidden]="DurationTeacher.valid ||DurationTeacher.pristine" class="alert alert-danger" role="alert"> 
                                    <div *ngIf="DurationTeacher.errors?.['min']"> Duration must be more than 23</div>
                                    <div *ngIf="DurationTeacher.errors?.['required']"> Duration is required</div>
                                  </div>
                            </div>
                        </div>
                        
                        <div class="button">
                             <button  class="btn btn_submit" type="submit">Add</button>
                             <button  class="btn btn_reset" type="reset">Cancel</button>
                        </div>
                </div>
            </form>
            
            </section>
        </div>