*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input{
  background-color: transparent;
  color: white;
}
input:focus{
  background-color:rgba(117, 122, 122, 0.474); 
  color: white;
}
input::placeholder{
  color: azure;
}
.logInPage{
  background-image: url(../../../../assets/logIn.jfif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  width: 100%;
  height: 100vh;
  border: 5px solid black;
  opacity: 0.88;
  }
  
  .header h2{
    text-align: center;
    padding: 6%;
  }
  
  .container{
    position: absolute;
    left:30%;
    top:10%;
    width: 35%;
    height: 80vh;
    text-align: center;
    margin: auto;
    border-radius: 16px;
    border: 1px solid black;
    background-color: rgba(117, 122, 122, 0.474);
  }
  .container:hover{
    box-shadow: 3px 3px 14px 3px rgba(117,128,230,0.68);
    -webkit-box-shadow: 3px 3px 14px 3px rgba(117,128,230,0.68);
    -moz-box-shadow: 3px 3px 14px 3px rgba(117,128,230,0.68);
    border: 0;
  }
  .formUser,.btn{
  margin: 7% 5%;
  }
  .btn{
    /* width: 40%; */
    padding: 2% 0;
    border: 2px solid rgba(234, 202, 202, 0.908);
    font-weight: bold;
    color: white;
    font-weight: bold;
    background-color: #2c5683a8;
    border-radius: 10px;
  }
  .btn:hover{
    background-color: transparent;
    box-shadow: 2px 2px 14px 1px rgba(188,194,230,0.68);
    -webkit-box-shadow: 2px 2px 14px 1px rgba(188,194,230,0.68);
    -moz-box-shadow: 2px 2px 14px 1px rgba(188,194,230,0.68);
  }
  .btn{
    padding: 2% 32%;
  }
  .form-control{
    width: 80%;
    margin: auto;
    padding: 1% 9%;
    
  }
  .form-control:hover{
    box-shadow: 3px 3px 14px 3px rgba(117,128,230,0.68);
    -webkit-box-shadow: 3px 3px 14px 3px rgba(117,128,230,0.68);
    -moz-box-shadow: 3px 3px 14px 3px rgba(117,128,230,0.68);
    border: 0;
  }
  .signup{
  margin-top: 9%;
  }
  .signup a{
    text-decoration: none;
  }
  .formUser{
  
    position: relative;
  }
  .icon{
  position: absolute;
  left: 55px;
  top: 4px;
  color: white;
  }
  .hide{
    position: absolute;
    right: 60px;
    top: 4px;
    color: white;
  }
