<div>
    <div class="navSection">
        <!------------SideBar------------> 
          <section class="sideBar"  [ngClass]="{toggle:closed}">
             <!--------------------Side header---------------->
             <div id="sideBar-Header">
                 <div class="logo" (click)="toggleSideBar()">
                    <a class="link-dash" routerLink="/dashboard">
                     <img class="sideBar-logo" src="../../assets/logo.png" alt="logo"> 
                     <span class="logo-name" *ngIf="!closed">Chem School</span>
                 </a>
                 </div>
                 <div class="user">
                     <div class="user-picture">
                        <a routerLink="profile"> <img class="user-profile" src="../../assets/J.png" alt="user"></a>
                     </div>
                     <div class="user-info" *ngIf="!closed">
                         <span>Welcome,</span>
                         <h4 class="user-name">
                             Jennie Ruby Jane
                         </h4>
                     </div>
                 </div>
             </div>
             <!-----------------Side main------------------->
             <div class="sideBar-main">
                     <ul class="nav">
                     <li class="nav-container" *ngFor=" let detail of navDetails">
                         <a class="nav-link" [routerLink]="[detail.link]">
                             <i class="nav-icon" [class]="detail.icon"></i>
                             <span class="nav-name" *ngIf="!closed">{{detail.name}}</span>
                         </a>
                     </li>
                 </ul>
             </div>
          </section>
        </div>
        <div class="container"  [ngClass]="{toggle:closed}">
            <section >
                <form  class="form_teacher" (ngSubmit)="addStudentTS(form.value);form.reset(); " [formGroup]="form">
                <div class="picture">
                    <!-- <img class="teach_img" src="../../../assets/jennie ruby.jpg" alt="user"> -->
                   <img class="teach_img" src={{url}}>
                   <button class="btn btn_img" type="button">
                    <i class="bi bi-box-arrow-up"></i> Upload
                    <input class="file" type="file" name="Picture"  (change)="selectFile($event)"  [(ngModel)]="url">
                </button> 
                

                </div>
                <div class="information">
                        <h2 class="form_legend">Add Student</h2>
                        <div class="details">
                            <div class="details_Container">
                                <label class="f_name" for="f_name">
                                    <input type="text" id="f_name" class="info name" placeholder=" " name="First_name" ngModel required  pattern="[a-zA-Z\s]+" formControlName="First_name">
                                    <span  class="label_input">First name : </span>
                                 </label>
                            </div>
                            <div class="details_Container">
                                <label class="f_name" for="l_name">
                                    <input type="text" id="l_name" class="info name" placeholder=" " name="Last_name" ngModel required pattern="[a-zA-Z\s]+" formControlName="Last_name">
                                    <span class="label_input">Last name : </span>
                                </label>
                            </div> 
                        </div>
                        <div class="contain">
                            <div class="contain">
                                <label for="gender" class="gender">Gender : </label>
                                <select class="form-select info" aria-label="Gender select Gender" name="Gender" id="gender" ngModel required formControlName="Gender">
                                    <option selected>Select a Gender</option>
                                    <option value="Female">Female</option>
                                    <option value="Male">Male</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="contain">
                            <select class="form-select info" aria-label="email select email"  name="Email" id="section" ngModel formControlName="Email">
                                <option selected>Select an email</option>
                                <option *ngFor="let email of emailStudents " value="{{email}}">{{email}}</option>
                            </select>
                        </div>
                        <div class="details">
                            <div class="details_Container">
                                <label class="f_name" for="age">
                                    <input type="number" id="age" class="info age" placeholder=" " name="Age"  ngModel required min="23" formControlName="Age">
                                    <span class="label_input">Age : </span>
                                </label>
                                
                            </div>
                            <div class="details_Container">
                                <label class="f_name" for="phone">
                                    <input type="number" id="phone"  minlength="8" class="info phone" required placeholder=" " name="Phone_number" ngModel formControlName="Phone_number">
                                    <span class="label_input">Phone number : </span>
                                </label>
                               
                            </div>
                        </div>
                        
                        <div class="address contain">
                            <label class="f_name" for="address">
                                <input type="text" id="address"  #addressTeacher="ngModel" class="info address" required placeholder=" " name="Address" ngModel>
                                <span class="label_input">Address : </span>
                            </label>
                            <div style="position:relative;top:5px" [hidden]="addressTeacher.valid||addressTeacher.pristine" class="alert alert-danger" role="alert">
                                <div *ngIf="addressTeacher.errors?.['required']">
                                    Address is required
                                </div>
                            </div>
                        </div>
                        <div class="button">
                             <button  class="btn btn_submit" type="submit" [disabled]="!form.valid">Add</button>
                             <button  class="btn btn_reset" type="reset">Cancel</button>
                        </div>
                </div>
            </form>
            </section>
        </div>
    </div>
        