<nav class="navBar">
    <div class="barsIcone" ><i *ngIf="!toggleBar" (click)="toggleBars()"  class="bi bi-border-width"></i>
        <i class="bi bi-x-lg" *ngIf="toggleBar" (click)="toggleBars()"></i></div>
    <div class="nav_logo">
        <a class="link-logo" routerLink="#">
            <img class="logo" src="../../assets/logo.png" alt="logo"> 
            <span class="logo-name">Chem School</span>
        </a>
    </div>
    <div class="nav_main" [ngClass]="{te:toggleBar}">
        <a routerLink="/TeacherHome" class="home">Home</a>
        <a routerLink="/ToDoListTeach" class="home">TodoList</a>
        <a routerLink="/NoteTeacher" class="home">Notes</a>
        <a routerLink="/AddExam" class="home">Exam</a>
    </div>
    <div class="LogOut">
        <a class="nav-link logOut" routerLink="/LogOut">  <i class="bi bi-power"></i> LogOut</a>
        <i class="bi bi-x-circle" *ngIf="close" (click)="searchBar()"></i>
        <i class="bi bi-search" *ngIf="!close" (click)="searchBar()"></i>
    </div>
    <form action="" class="searchContainer" [ngClass]="{toggle:close}" >
        <input type="search" name="searchText" [(ngModel)]="searchText" id="searchBar" placeholder="Search here...">
        <label for="searchBar"><i class="bi bi-search"></i></label>
    </form>
</nav>
<form #formExam="ngForm" (ngSubmit)="addExamTS(formExam.value); formExam.reset();">
   
    <!-- Modal -->
    <div  class="modal fade" id="courseModal" tabindex="-1"  aria-labelledby="courseModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content" id="content" #content>
            <div class="modal-header">
               <div class="row exam_Header justify-content-start modal-title fs-5 " id="courseModalLabel">
                    <div class="col-3">
                        <div class="logo_container">
                            <img class="logo_image" src="../../assets/logo.png" alt="logo"> 
                             <span class="school-name">Chem School</span>
                        </div>
                    </div>
                    <div class="col-6 name">
                        <div class="exam_details">
                            <div class="course">
                                <h2>Course :</h2>
                                <select name="course" ngModel id="course_Exam">
                                    <option selected disabled >Select a course </option>
                                    <option  *ngFor="let course of course_name" value="{{course}}">{{course}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 date">
                        <div class="examInfoDate">
                            <label for="date">Date:</label>
                            <input type="date" id="date" name="Date" ngModel>
                        </div>
                        <div class="examInfoDate">
                            <label for="duration">Duration(h):</label>
                            <input type="number" id="duration" name="Duration" ngModel>
                        </div>
                    </div>
                      </div>
            </div>
            <div class="modal-body">
              <div>
                <div class="mb-3">
                <label for="Title-name" class="col-form-label">Exercice 1:</label>
                </div>
                <div class="mb-3">
                <label for="message-text" class="col-form-label">Description 1:</label>
                <textarea class="form-control" [(ngModel)]="text" id="message-text" rows="5" cols="33" name="Description1" ngModel></textarea>
                </div>
              </div>
              <div>
                <div class="mb-3">
                <label for="Title-name" class="col-form-label">Exercice 2:</label>
                </div>
                <div class="mb-3">
                <label for="message-text" class="col-form-label">Description 2:</label>
                <textarea class="form-control" id="message-text" rows="5" cols="33" name="Description2" ngModel></textarea>
                </div>
              </div>
              <div>
                <div class="mb-3">
                <label for="Title-name" class="col-form-label">Exercice 3:</label>
                </div>
                <div class="mb-3">
                <label for="message-text" class="col-form-label">Description 3:</label>
                <textarea class="form-control" id="message-text" rows="4" cols="30" name="Description3" ngModel></textarea>
                </div>
              </div>
            </div>
        
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit"  class="btn btn-primary">Add Note</button>
            <button type="button" class="btn btn-outline-info" (click)="downloadPdf()">Download</button>
            </div>
        </div>
        </div>
    </div>
  <section class="container">
      <div class="wrapper" [ngClass]="{te:toggleBar}">
          <li class="add_exam">  
              <!-- Button trigger modal -->
              <button class="btn_trigger_modal" type="button" data-bs-toggle="modal" data-bs-target="#courseModal">
              <div class="icon_add">
                      <i class="bi bi-plus-lg"></i>
              </div>
              </button>
              <p class="Add">Add new Exam</p>
          </li>
          <li class="exam_container" *ngFor="let exam of examData |paginate: { itemsPerPage:3, currentPage: page, totalItems:totalLength }">
              <div class="exam_data" >
                  <span class="titleexam">Course title : {{exam.course}}</span>
                  <p class="exam_text">Date : {{exam.Date}}</p>
                  <p class="exam_text">Duration : {{exam.Duration}}h</p>
              </div>
              
              <div class="exam_footer">
                  <span class="exam_date"></span>
                  <div class="btn_exam">
                      <button type="button" class="btn btn-outline-danger" (click)="deleteExamTS(exam._id)"><i class="bi bi-trash"></i> Delete</button>
                      <button type="button" class="btn btn_edit btn-outline-success" data-bs-toggle="modal" data-bs-target="#courseEdit"> 
                          <a routerLink="/editExam/{{exam._id}}"> <i class="bi bi-pencil-fill"></i>Edit</a>
                        </button>
                  </div>
              </div>
          </li>
          <pagination-controls class="pagination" (pageChange)="page = $event"></pagination-controls>
      </div>
      <div class="videoContainer">
          <video src="../../../../assets/22095814_dark-viral-titles_by_nixstudioedition_preview.mp4"  autoplay loop [muted]="'muted'" class="video"></video>
      </div>
  </section>
    </form>