.chartBox{
    position: relative;
    width: 100%;
    margin-top: 35px;
    height: 48vh;
}
.container{
    display: flex;
    flex-direction: column;
}
.countermain{
    width: 100%;
}
.counter{
    margin: auto;
    width: 20%;
}
.box{
    position: relative;
    /* background-color: rgba(179, 95, 95, 0.244); */
    padding: 20px;
    width: 50%;
    margin: auto;
    height: 80%;
}
.card{
    width: 100%;
    background-color: rgba(79, 136, 223, 0.799);
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.nav-link{
    font-size: 25px;
    margin: 3% 0%;
   }
.card:hover{
    background-color:white ;
}
.navbar{
    position: relative;
}
.container{
position: absolute;
top: 130px;
left: 155px;
}
.logOut{
    position: absolute;
    bottom: 10px;
    right: 35px;
    width: 50%;
    font-size: 20px;
    cursor: pointer;
}
.logo{
    display: flex;
    align-items: center;
    width: 100%;
}
.sideBar-logo{
    width: 14%;
    margin: 11% 2%;
    cursor: pointer;
}
.logo-name{
    padding-left: 8%;
    font-size: 20px;
}
.t{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 75px;
}
.total{
    font-size: 20px;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 2% 0;
    font-weight: bold;
    border-bottom: 1px solid #333;
 }
 .searchnav{
    margin-bottom: 4%;
    background-color: transparent;
    position: relative;
    left: 400px;
   }
   .form-control{
     padding: 3%;
   }
/*responsive design*/
@media (max-width: 991px )
{
    .chartBox{
        grid-template-columns: 1fr;
        height: auto;
    }
}


