<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <div class="t">
        <div class="logo">
          <a class="navbar-brand link-dash" routerLink="Dashboard">
           <img class="sideBar-logo" src="../../assets/logo.png" alt="logo"> 
           <span class="logo-name">Chem School</span>
          </a>
       </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Hello back!</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/Dashboard">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/addusers">  <i class="icon bi bi-person-plus-fill"></i> Add Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/manageUser">  <i class="icon bi bi-person-plus-fill"></i> Manage Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link logOut" routerLink="/LogOut">  <i class="bi bi-power"></i> LogOut</a>
          </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="counter">
        <div class="countermain">
            <div class="card">
                <h2>{{usersCounter}}</h2>
                <p>Users </p>
            </div>
        </div>
    </div>
    <div class="chartBox">
        <div class="box">
            <canvas id="myChart"></canvas>
        </div>
        <div class="box"></div>
    </div>
  </div>