.nav_logo{
    display: flex;
    align-items: center;
    width: 15%;
}
*{
 /* outline: 1px dashed red; */
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-transform: capitalize;
 text-decoration: none;
 transition: all .2s linear;
}

.navBar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 1%;
}

.barsIcone i{
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 25px;
    padding: 3px;
    cursor: pointer;
    display: none;
}
.link-logo{
    text-decoration: none;
}
.logo{
    width: 35%;
    margin: 3% 0%;
    cursor: pointer;
}
.logo-name{
    padding-left:2%;
    font-size: 15px;
    color: white;
}

.LogOut,.bi{
    color: white; 
    margin-left: 15px;
}
.LogOut{
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    width: 11%;
}
.nav_main a{
    color: white;
    margin: 0% 6%;
    font-size: 19px;
  
}

.nav_main a:hover{
    color: #6d6e70;
}
.nav_main {
width: 50%;
margin-right: 120px;
}
.bi i{
    font-size: 15px;
    cursor: pointer;
}
.logOut:hover, .bi:hover{
    color: #6d6e70;  
}
.searchContainer{
    position: absolute;
    top:100%;
    left: 0;
    right: 0;
    padding: 13px 10px;
    background-color:#333 ;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.725);
    clip-path: polygon(0 0,100% 0, 100% 0,0 0);
}
.searchContainer.toggle{
    clip-path: polygon(0 0,100% 0, 100% 100%,0 100%);

}
#searchBar{
    width: 100%;
    text-transform: none;
    color: #333;
    padding: 10px;
    border-radius: 10px;
}
/********************Home*******************/
.dashboard{
    padding: 4%;
    /* position: relative; */
}
.dailyInfo{
color: rgb(201, 142, 142);
text-align: center;
background-color: rgba(255, 255, 255, 0.103);
border-radius: 15px;
padding: 5px;
backdrop-filter:blur(3px);
position: absolute;
top: 20%;
}
.dailyInfo:hover{
    box-shadow: 1px 1px 14px 2px rgba(219,136,136,0.75);
    -webkit-box-shadow: 1px 1px 14px 2px rgba(219,136,136,0.75);
    -moz-box-shadow: 1px 1px 14px 2px rgba(219,136,136,0.75);}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column;
    position: relative;
    height: 70vh;
    top: 80px;
}
.container h3,h4{
font-size: 30px;
text-transform: uppercase;
text-shadow: 1px 1px #6d6e70;
margin: 35px;
}
video.vid_slider{
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.9;
}
/************Tabs****************/
.tabs_container{
    display: flex;
    justify-content: center;
    border-radius: 15px;
    border: 1px solid black;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.141);
    position: absolute;
    bottom: 55px;
    backdrop-filter: blur(3px);
}
.tabs_container:hover{
    box-shadow: 1px 1px 14px 2px rgba(219,136,136,0.75);
-webkit-box-shadow: 1px 1px 14px 2px rgba(219,136,136,0.75);
-moz-box-shadow: 1px 1px 14px 2px rgba(219,136,136,0.75);
}


.tabs_container i{
font-size: 25px;
margin: auto;
color: rgb(10, 10, 10);
}
.tab{
    padding: 7px;
    background-color: rgba(235, 152, 152, 0.503);
    margin: 4px 7px;
    cursor: pointer;
    border-radius: 9px;
    transition: all 0.4s ease;
    opacity: 0.9;
    position: relative;
}
.tab:hover{
 transform: scale(1.1);
    opacity: 1;
}

.tab:hover::before{
    text-align: center;
    position: absolute;
    top: -1px;
    padding: 10px 30px;
    width: max-content;
    border-radius: 10px;
    left: 50%;
    background-color: #fff;
    transform: translateX(-50%) translateY(-110%);
    content: attr(data-tooltip);
    color: white;
    transition: all 0.2s ease-in-out;
    background-color: rgba(51, 51, 51, 0.458);
}





/**************media queries*****************/
@media(max-width:1000px){
    .nav_main, .nav_logo{
        width: 25%;
    }
    .LogOut{
        width: 20%;
        padding-right: 15px;
    }
    .LogOut, .nav_main a{
        font-size: 15px;
    }
    .tabs_container{
        position: absolute;
        bottom: 45px;
    }
    }
    
@media (max-width:768px){
    .navBar .nav_main{
        position: absolute;
        top:100%; 
        right: 0;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 2% 2% ;
        text-align: center;
        border-top:1px solid rgba(255, 255, 255, 0.127) ;
        clip-path: polygon(0 0,100% 0, 100% 0,0 0);
    }

    .barsIcone i{
        display: block;
        color: white;
        font-size: 18px;
    }
    .logo-name,.LogOut,.nav_main a{
        font-size: 19px;
    }
    .nav_logo{
        width: 30%;
        
    }
    .LogOut,.bi{
        padding: 0 1%;
    }
    .nav_main a{
        margin:  2% 4%;
        display: block;
        border-radius: 3px;
        padding: 10px;
        background-color: #222;
    }
    .navBar{
        justify-content:space-around;
    }
    .navBar .nav_main.te{
        clip-path: polygon(0 0,100% 0, 100% 100%,0 100%);
    
    }
    .container.te{
        z-index: -1;
    }
    .container{
        height:80vh ;
      }
      .nav_logo{
          width: 40%;
      }
}



