.nav_logo{
    display: flex;
    align-items: center;
    width: 12%;
}
*{
 /* outline: 1px dashed red; */
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-transform: capitalize;
 text-decoration: none;
 transition: all .2s linear;
}

.navBar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 1%;
}

.barsIcone i{
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 25px;
    padding: 3px;
    cursor: pointer;
    display: none;
}
.link-logo{
    text-decoration: none;
}
.logo{
    width: 35%;
    margin: 3% 0%;
    cursor: pointer;
}
.logo-name{
    padding-left:2%;
    font-size: 15px;
    color: white;
}

.LogOut,.bi{
    color: white; 
    margin-left: 15px;
}
.LogOut{
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    width: 11%;
}
.nav_main a{
    color: white;
    margin: 0% 6%;
    font-size: 19px;
  
}

.nav_main a:hover{
    color: #6d6e70;
}
.nav_main {
width: 50%;
margin-right: 120px;
}
.bi i{
    font-size: 15px;
    cursor: pointer;
}
.logOut:hover, .bi:hover{
    color: #6d6e70;  
}
.searchContainer{
    position: absolute;
    top:100%;
    left: 0;
    right: 0;
    padding: 13px 10px;
    background-color:#333 ;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.725);
    clip-path: polygon(0 0,100% 0, 100% 0,0 0);
}
.searchContainer.toggle{
    clip-path: polygon(0 0,100% 0, 100% 100%,0 100%);

}
#searchBar{
    width: 100%;
    text-transform: none;
    color: #333;
    padding: 10px;
    border-radius: 10px;
}