.nav_logo{
    display: flex;
    align-items: center;
    width: 14%;
}
*{
 /* outline: 1px dashed red; */
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-transform: capitalize;
 text-decoration: none;
 transition: all .2s linear;
}

.strike{
    text-decoration: line-through;
    opacity: 0.5;
}
.navBar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 1%;
}

.barsIcone i{
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 25px;
    padding: 3px;
    cursor: pointer;
    display: none;
}
.link-logo{
    text-decoration: none;
}
.logo{
    width: 35%;
    margin: 3% 0%;
    cursor: pointer;
}
.logo-name{
    padding-left:2%;
    font-size: 15px;
    color: white;
}

.LogOut,.bi{
    color: white; 
    margin-left: 15px;
}
.LogOut{
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    width: 11%;
}
.nav_main a{
    color: white;
    margin: 0% 6%;
    font-size: 19px;
  
}

.nav_main a:hover{
    color: #6d6e70;
}
.nav_main {
width: 50%;
margin-right: 120px;
}
.bi i{
    font-size: 15px;
    cursor: pointer;
}
.logOut:hover, .bi:hover{
    color: #6d6e70;  
}
.searchContainer{
    position: absolute;
    top:100%;
    left: 0;
    right: 0;
    padding: 13px 10px;
    background-color:#333 ;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.725);
    clip-path: polygon(0 0,100% 0, 100% 0,0 0);
}
.searchContainer.toggle{
    clip-path: polygon(0 0,100% 0, 100% 100%,0 100%);

}
#searchBar{
    width: 100%;
    text-transform: none;
    color: #333;
    padding: 10px;
    border-radius: 10px;
}
/************ToDo List Container****************/
.dashboard{
    /* padding: 4%; */
    height: 100%; 
    width: 100%;
   }
video.video{
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.9;
}
.toDo_section{
    position: relative;
    height: 100vh;
    top:120px;
    margin: auto;
    width: 30%;
}
.dailyInfo{
    color: rgb(201, 142, 142);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.103);
    border-radius: 15px;
    padding: 6px 50px;
    backdrop-filter:blur(3px);
    margin: 5% 0%;
    }
.dailyInfo:hover{
        box-shadow: 1px 1px 14px 2px rgba(219,136,136,0.75);
        -webkit-box-shadow: 1px 1px 14px 2px rgba(219,136,136,0.75);
        -moz-box-shadow: 1px 1px 14px 2px rgba(219,136,136,0.75);
}
.toDo_section h2{
    font-size: 25px;
    /* color: #fff; */
    text-transform: uppercase;
    text-shadow: 1px 1px #6d6e70;
    margin: 15% 0%;
    }
    .todo_item{
        width: 100%;
        margin: 3% 0%;
    }
.todo_item li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.103);
    border-radius: 5px;
}
.todo_item li:hover{
    box-shadow: 1px 1px 14px 2px rgba(219,136,136,0.75);
        -webkit-box-shadow: 1px 1px 14px 2px rgba(219,136,136,0.75);
        -moz-box-shadow: 1px 1px 14px 2px rgba(219,136,136,0.75);
}
.item{
    padding: 10px;
    width: 100%;
    margin: 2% 0%;
}


.check_container i,p{
    color: white;
}

.add_item{
    width: 100%;
}


.btn{
    padding: 3% 6%;
    background-color: rgba(255, 255, 255, 0.164);
    color: white;
    margin: 1% 3%;
}
.btn i{
    text-align: center;
    margin: auto;
}
.btn:hover{
background-color: rgba(110, 175, 135, 0.493);
box-shadow: 1px 1px 14px 2px rgba(219,136,136,0.75);
-webkit-box-shadow: 1px 1px 14px 2px rgba(219,136,136,0.75);
-moz-box-shadow: 1px 1px 14px 2px rgba(219,136,136,0.75);
}
.btn:hover i{
    color: black;
   
}
.input_todo:hover{
    box-shadow: 1px 1px 14px 2px rgba(219,136,136,0.75);
        -webkit-box-shadow: 1px 1px 14px 2px rgba(219,136,136,0.75);
        -moz-box-shadow: 1px 1px 14px 2px rgba(219,136,136,0.75);
    border: 0;
  }
  input{
    font-size: 12px;
    color: white;
    background-color: rgba(255, 255, 255, 0.103);
    border-radius: 10px;
    padding: 4% 6%;
    border: 0;
    width: 75%;
  }
  input::placeholder{
    color: white;
    opacity: 0.5;
  }

  /**************media queries*****************/
  @media(max-width:1030px){
    .nav_main, .nav_logo{
        width: 25%;
    }
    .LogOut{
        width: 20%;
        padding-right: 15px;
    }
    .LogOut, .nav_main a{
        font-size: 15px;
    }
    .container .add_note{
        width: 180px;
        height:250px;
    }
    .container .note_container{
        width: 180px;
        height: 250px;
    }
    .add_note .icon_add{
        font-size: 20px;
    }
    .add_note .Add, .titleNOte, .note_text{
        font-size: 10px;
    }
    .wrapper{
        grid-template-columns: repeat(auto-fill,200px);
    }
    }
    @media(max-width:860px){
        .input_todo{
            width: 60%;
        }
        .toDo_section h2{
            font-size: 20px;
        }
    }
    @media (max-width:768px){
        .nav_main{
            position: absolute;
            top:100%; 
            left: 0;
            right: 0;
            width: 100%;
            background-color: #333  ;
            padding: 2% 2% ;
            text-align: center;
            border-top:1px solid rgba(255, 255, 255, 0.127) ;
            clip-path: polygon(0 0,100% 0, 100% 0,0 0);
        }
        
        .barsIcone i{
            display: block;
            color: white;
            font-size: 18px;
        }
        .logo-name,.LogOut,.nav_main a{
            font-size: 19px;
        }
        .nav_logo{
            width: 30%;
            
        }
        .LogOut,.bi{
            padding: 0 1%;
        }
        .nav_main a{
            margin:  2% 4%;
            display: block;
            border-radius: 3px;
            padding: 10px;
            background-color: #222;
        }
        .nav_main a:hover{
            box-shadow: 1px 1px 14px 2px rgba(219,136,136,0.75);
            -webkit-box-shadow: 1px 1px 14px 2px rgba(219,136,136,0.75);
            -moz-box-shadow: 1px 1px 14px 2px rgba(219,136,136,0.75);
        }
        .navBar{
            justify-content:space-around;
        }
        .nav_main.te{
            clip-path: polygon(0 0,100% 0, 100% 100%,0 100%);
            
        }
        .toDo_section.te{
            z-index: -1;
        }
        
        .nav_logo{
            width: 40%;
        }
    }
    






