<nav class="navBar">
    <div class="barsIcone" ><i *ngIf="!toggleBar" (click)="toggleBars()"  class="bi bi-border-width"></i>
        <i class="bi bi-x-lg" *ngIf="toggleBar" (click)="toggleBars()"></i></div>
    <div class="nav_logo">
        <a class="link-logo" routerLink="#">
            <img class="logo" src="../../assets/logo.png" alt="logo"> 
            <span class="logo-name">Chem School</span>
        </a>
    </div>
    <div class="nav_main" [ngClass]="{te:toggleBar}">
        <a routerLink="/TeacherHome" class="home">Home</a>
        <a routerLink="/ToDoListTeach" class="home">TodoList</a>
        <a routerLink="/NoteTeacher" class="home">Notes</a>
        <a routerLink="/AddExam" class="home">Exam</a>
    </div>
    <div class="LogOut">
        <a class="nav-link logOut" routerLink="/LogOut">  <i class="bi bi-power"></i> LogOut</a>
        <i class="bi bi-x-circle" *ngIf="close" (click)="searchBar()"></i>
        <i class="bi bi-search" *ngIf="!close" (click)="searchBar()"></i>
    </div>
    <form action="" class="searchContainer" [ngClass]="{toggle:close}" >
        <input type="search" name="searchText" [(ngModel)]="searchText" id="searchBar" placeholder="Search here...">
        <label for="searchBar"><i class="bi bi-search"></i></label>
    </form>
</nav>
<section class="dashboard">
    <div class="toDo_section" [ngClass]="{te:toggleBar}">
        <div class="dailyInfo">
            <h2>{{dateTime |date}}</h2>
            <h2>{{dateTime| date:'shortTime' }}</h2>
       </div> 
       <div class="todo_container">
            <div class="todo_item" *ngFor="let TodoArray of TodosArray |paginate: { itemsPerPage:3, currentPage: page, totalItems:totalLength }" >
                 <ul class="list" >
                    <li class="item" >
                        <i class="bi bi-circle" (click)="stirke()"></i>
                        <p class="todo_text"[ngClass]="{strike:strikethrough}" >{{TodoArray.To_Do_text}}</p>
                        <i class="bi bi-trash" (click)="deleteTodoTeacher(TodoArray._id)"></i>
                    </li>
                 </ul>  
            </div>
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
            <div class="add_item">
                <form #formToDoTeacher="ngForm" (ngSubmit)="addItemTS(formToDoTeacher.value); formToDoTeacher.reset();" >
               <button type="submit" class="btn"><i class="bi bi-plus-circle"></i></button> 
                <input type="text" class="input_todo" name="To_Do_text" #todoTeacher="ngModel" placeholder="Add a to-Do" required ngModel maxlength="22">
                <div style="position:relative;top:5px" [hidden]="todoTeacher.valid||todoTeacher.pristine" class="alert alert-danger" role="alert">
                    <div *ngIf="todoTeacher.errors?.['required']">
                        Text is required
                    </div>
                    <div *ngIf="todoTeacher.errors?.['maxlength']">
                        Text must not contain more than 26 characters
                    </div>
                </div>
            </form>
            </div>
       </div> 
        
    </div>
    <div class="videoContainer">
        <video  src="../../../../assets/22095814_dark-viral-titles_by_nixstudioedition_preview.mp4"  autoplay loop [muted]="'muted'"  class="video"></video>
    </div>
   

</section>
